{{#resume.basics}}
<section id="basics">
  <div class="container">
  	<div class="left">
	  {{#location}}
	  <section id="location">
		{{#if address}}
		<div class="address">
		  <small>{{address}}</small>
		</div>
		{{/if}}
		<div class="address-line2">
		{{#if city}}
		  <small>{{city}}</small>
		{{/if}}
		{{#if countryCode}}
		  <small>{{countryCode}}</small>
		{{/if}}
		{{#if postalCode}}
		 <small>{{postalCode}}</small>
		{{/if}}
		</div>
	  </section>
	  <small>{{/location}}</small>
	</div>
	<div class="center">
	  <h1>	{{name}}  </h1>
	</div>
  	<div class="right">
	  <section id="location">
		{{#if phone}}
		<div>	<small>{{phone}}</small></div>
		{{/if}}
		{{#if email}}
		<div>	<small>{{email}}</small></div>
		{{/if}}
	  </section>
	</div>
  </div>
</section>
{{/resume.basics}}
