{{#if resume.education.length}}
<section id="education">
  <h2>Education</h2>
  {{#each resume.education}}
  <div>
    <div class="container bold">
    	<div class="left">
	{{#if location}}
	  {{location}}
	{{/if}}
	</div>
    	<div class="center">
	{{#if institution}}
	  {{institution}}
	{{/if}}
	</div>
    	<div class="right">
	{{#if startDate}}
	  {{formatDate "MMM YYYY" startDate}}
	{{/if}}
	{{#if endDate}}
	  - {{formatDate "MMM YYYY" endDate}}
	{{else}}
	  - Present
	{{/if}}
	</div>
    </div>
    {{#if studyType}}
    <ul class="courses">
      <li>{{studyType}} 
      {{#if area}}
        in {{area}}
      {{/if}}
      {{#if score}}
      GPA: {{score}}
      {{/if}}
      </li>
      {{#if courses.length}}
	{{#each courses}}
	<li>{{.}}</li>
	{{/each}}
      {{/if}}
    </ul>
    {{/if}}
  </div>
  {{/each}}
</section>
{{/if}}
