{{#if resume.volunteer.length}}
<section id="volunteer">
  <h2>Volunteer</h2>
  {{#each resume.volunteer}}
  <div>
    <div class="container bold">
    	<div class="left">
	{{#if position}}
	  {{position}}
	{{/if}}
	</div>
    	<div class="center">
	{{#if organization}}
	  {{organization}}
	{{/if}}
	</div>
    	<div class="right">
	{{#if startDate}}
	  {{formatDate "MMM YYYY" startDate}}
	{{/if}}
	{{#if endDate}}
	  - {{formatDate "MMM YYYY" endDate}}
	{{else}}
	  - Present
	{{/if}}
	</div>
    </div>
    <ul class="highlights">
      {{#if summary}}
      <li>{{summary}}</li>
      {{/if}}
    {{#if highlights.length}}
    {{#each highlights}}
      <li>{{.}}</li>
    {{/each}}
    </ul>
    {{/if}}
  </div>
  {{/each}}
</section>
{{/if}}
