{{#if resume.work.length}}
<section id="employment">
  <h2>Employment</h2>
  {{#each resume.work}}
  <div>
    <div class="container bold">
    	<div class="left">
	{{#if position}}
	  {{position}}
	{{/if}}
	</div>
    	<div class="center">
	{{#if name}}
	  {{name}}
	{{/if}}
	</div>
    	<div class="right">
	{{#if startDate}}
	  {{formatDate "MMM YYYY" startDate}}
	{{/if}}
	{{#if endDate}}
	  - {{formatDate "MMM YYYY" endDate}}
	{{else}}
	  - Present
	{{/if}}
	</div>
    </div>
    {{#if highlights.length}}
    <ul class="highlights">
    {{#each highlights}}
      <li>{{.}}</li>
    {{/each}}
    </ul>
    {{/if}}
  </div>
  {{/each}}
</section>
{{/if}}
